<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
<body>
    <form action="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" method="post">
        {% csrf_token %}
        <div class="container"> <!--Stylize root div with .container class -->
            <h1>Add Review</h1>
            <div class="form-group"> <!--Stylize second div with .form-group class -->
                <label for="review"><b>Review: </b></label>
                <textarea class="form-control" id="content" name="review" rows="2" required placeholder="type your review here: "></textarea>
                
                <input id="purchase" class="form-check-input" type="checkbox" name="purchase"><b>Purchase</b></input>
                <br>
                <label for="car_make"><b>Select your car (model-make-year): </b></label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
               </select>
               <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            </div>
            {% if message %}
            <div class="alert alert-warning"> <!--Stylize the message paragraph with .alert and .alert-warning class -->
                {{ message }}
            </div>
            {% endif %}
            <button class="btn btn-primary" type="submit">Submit</button> <!--Stylize button with .btn and .btn-primary class -->
        </div>
    </form>
</body>
<script type="text/javascript">
    $('.date-own').datepicker({
       format: 'mm/dd/yyyy'
     });
</script>
</html>