<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    <h1>Contact Us</h1>
    <address><strong>Best Dealer</strong><br >
        321 Django Cir<br >
        San Jose, CA 95555 <br>
        <abbr title="Primary Phone">P:</abbr>(408) 408-40840848<br>
        <a href="mailto:#">bestDealer@example.com</br>
    </address>
</body>
<footer>
    <div class="d-flex justify-content-center">
        <a class="btn btn-link" href="{% url 'djangoapp:index' %}" >Home</a>
    </div>
<footer>
</html>